<div class="div1">
  <P class="headertext">
  EXPLORE THE HOTEL
  </P>
  <P class="subheadertext">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </P>
      <P class="header2text">
          AMENITIES AND SERVICES
          </P>
          <img src="../../assets/roomservice.jpeg" class="roomservice">
            <P class="sub1header2text">
              Room Service
              </P>
              <img src="../../assets/parking.jpeg" class="parking">
              <P class="sub2header2text">
                  Free Parking
                  </P>
                  <img src="../../assets/wifi.jpeg" class="wifi">
                  <P class="sub3header2text">
                      Free Wifi
                      </P>
                      <img src="../../assets/furnished.jpeg" class="furnished">
                      <P class="sub4header2text">
                          Fully Furnished
                          </P>

                          <div class="image1"> 
                              <img style="width: 35%" src="https://www.straitstimes.com/sites/default/files/styles/article_pictrure_780x520_/public/articles/2014/03/10/rymerlion10314e_2x.jpg?itok=4xf9iaY2&timestamp=1436846336" />

                              <p class="image1text">
                                Merlion
                              </p>

                              <P class="image1subtext" style ="text-align: justify;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 

                                  </P>
                          </div>
                          <div class="image2"> 
                              <img style=" width: 19%;"src="https://res.cloudinary.com/engineering-com/image/upload/w_1600,c_fit,q_auto,f_auto/bigstock-SINGAPORE--MAY--The-Marina--26339792_nwwjho.jpg" />

                              <p class="image2text">
                                Marina Bay Sands
                              </p>

                              <P class="image2subtext" style=" text-align: justify;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                  </P>
                          



                                  <div class="image3"> 
                                      <img style=" width: 40.7%;"src="https://m1.sdimgs.com/sd_static/u/201401/52e1aab373d73.jpg" />
        
                                      <p class="image3text">
                                        Marina Bay Sands
                                      </p>
        
                                      <P class="image3subtext" style="text-align: justify;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                          </P>
</div>