<div class="div1">
  <P class="headertext">
  EXPLORE THE HOTEL
  </P>
  <P class="subheadertext">
      LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
      LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
      LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
      LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
      </P>
      <P class="header2text">
          AMENITIES AND SERVICES
          </P>
          <P class="sub1header2text">
              Room Service
              </P>
              <P class="sub2header2text">
                  Free Parking
                  </P>
                  <P class="sub3header2text">
                      Free Wifi
                      </P>
                      <P class="sub4header2text">
                          Fully Furnished
                          </P>

                          <div class="image1"> 
                              <img style="width: 35%" src="https://www.straitstimes.com/sites/default/files/styles/article_pictrure_780x520_/public/articles/2014/03/10/rymerlion10314e_2x.jpg?itok=4xf9iaY2&timestamp=1436846336" />

                              <p class="image1text">
                                Merlion
                              </p>

                              <P class="image1subtext">
                                  LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
                                  LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 

                                  </P>
                          </div>
                          <div class="image2"> 
                              <img style=" width: 19%;"src="https://res.cloudinary.com/engineering-com/image/upload/w_1600,c_fit,q_auto,f_auto/bigstock-SINGAPORE--MAY--The-Marina--26339792_nwwjho.jpg" />

                              <p class="image2text">
                                Marina Bay Sands
                              </p>

                              <P class="image2subtext">
                                  LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
                                  LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 

                                  </P>
                          



                                  <div class="image3"> 
                                      <img style=" width: 40.7%;"src="https://m1.sdimgs.com/sd_static/u/201401/52e1aab373d73.jpg" />
        
                                      <p class="image3text">
                                        Marina Bay Sands
                                      </p>
        
                                      <P class="image3subtext">
                                          LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
                                          LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
        
                                          </P>
</div>