<div class="div1">
    <P class="headertext">
    Manage Account
    </P>
    <P class="subheadertext" style="text-align: center;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </P>
        <hr>
        <img class="info" src="../../assets/info.jpeg" />
                <b class ="header2text">
                My Details
                </b>
                <p class="subheader2text">
                  Feel free to edit any of your details below so your Cover-ed account is totally up to date.
                </p>
                <div class="nametext">
                    <a>Name</a>
                    <font class ="required1" >Required*</font>
                    <br>
                    <input type="text" style ="width: 350px; height: 35px;" > 
            </div>
  
            <div class="emailtext">
                <a>Email</a>
                <font class ="required1" >Required*</font>
                <br>
                <input type="text" style ="width: 350px; height: 35px;" > 
        </div>

        <div class="password1text">
            <a>Create Password</a>
            <font class ="required1" >Required*</font>
            <br>
            <input type="text" style ="width: 350px; height: 35px;" > 
    </div>

    <div class="password2text">
        <a>Confirm Password</a>
        <font class ="required1" >Required*</font>
        <br>
        <input type="text" style ="width: 350px; height: 35px;" > 
</div>

   <button >Save Changes</button>



   <table>
      <tr>
        <td style="padding-top: 50px; padding-bottom: 70px; padding-left: 170px;">Hi,
        <br>
        <b style="position: absolute; left:50%;">UserName</b>
        <span class="dot"> <b style="position: absolute; top:37%; left:30%;">USER</b></span>

    </td>
      </tr>
      <tr>
          
        <td> <img class="info2" src="../../assets/info.jpeg" /> Account Details</td>
      </tr>
      <tr>
        <td> <img class="history" src="../../assets/history.jpeg" />Stay History</td>
      </tr>
    </table>
  </div>