<div class="div1">
    <P class="headertext">
    Manage Account
    </P>
    <P class="subheadertext">
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
        </P>
        <hr>

                <b class ="header2text">
                My Details
                </b>
                <p class="subheader2text">
                  Feel free to edit any of your details below so your Cover-ed account is totally up to date.
                </p>
                <div class="nametext">
                    <a>Name</a>
                    <font class ="required1" >Required*</font>
                    <br>
                    <input type="text" style ="width: 350px; height: 35px;" > 
            </div>
  
            <div class="emailtext">
                <a>Email</a>
                <font class ="required1" >Required*</font>
                <br>
                <input type="text" style ="width: 350px; height: 35px;" > 
        </div>

        <div class="password1text">
            <a>Create Password</a>
            <font class ="required1" >Required*</font>
            <br>
            <input type="text" style ="width: 350px; height: 35px;" > 
    </div>

    <div class="password2text">
        <a>Confirm Password</a>
        <font class ="required1" >Required*</font>
        <br>
        <input type="text" style ="width: 350px; height: 35px;" > 
</div>

   <button >Save Changes</button>



   <table>
      <tr>
        <td style="padding-top: 50px; padding-bottom: 70px; padding-left: 170px;">Hi,
        <br>
        <b style="position: absolute; left:50%;">UserName</b>
        <span class="dot"> <b style="position: absolute; top:37%; left:30%;">USER</b></span>

    </td>
      </tr>
      <tr>
        <td>Account Details</td>
      </tr>
      <tr>
        <td>Stay History</td>
      </tr>
    </table>
  </div>