<div class="div1">
    <P class="headertext">
    Log in or Create an Account
    </P>
    <P class="subheadertext">
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
        </P>
        <hr>

                <b class ="header2text">
                I'm New...
                </b>
                <div class="nametext">
                    <a>Name</a>
                    <font class ="required2" >Required*</font>
                    <br>
                    <input type="text" style ="width: 280px; height: 35px;" > 
            </div>
  
            <div class="emailtext">
                <a>Email</a>
                <font class ="required2" >Required*</font>
                <br>
                <input type="text" style ="width: 280px; height: 35px;" > 
        </div>

        <div class="password1text">
            <a>Create Password</a>
            <font class ="required1" >Required*</font>
            <br>
            <input type="text" style ="width: 350px; height: 35px;" > 
    </div>

    <div class="password2text">
        <a>Confirm Password</a>
        <font class ="required1" >Required*</font>
        <br>
        <input type="text" style ="width: 350px; height: 35px;" > 
</div>

   <button class ="button1">CREATE AN ACCOUNT</button>


   





   <div class="vl"></div>



   <b class ="header3text">
      I've Created
      </b>

      <div class="email2text">
          <a>Email</a>
          <font class ="required1" >Required*</font>
          <br>
          <input type="text" style ="width: 350px; height: 35px;" > 
  </div>


<div class="createpasswordtext">
  <a>Create Password</a>
  <u class="required3">Forgot your password?</u>
  <br>
  <input type="text" style ="width: 350px; height: 35px;" > 
</div>


<button class="button2" >LOGIN</button>






  </div>