
.nav {
    position: relative;
    left: 70%;
    padding-bottom: 10px;
    padding-top: 10px;

}
.div1 {
    right: 84%;
    position: absolute;
    color: white;
    font-size: 18px;
    background-color: #FCDC0C;
    white-space: nowrap;
    overflow: hidden;
}
.nav-link{
    padding-right: 25px;
    padding-left: 25px;
    display:inline;
    font-size: 18px;
    color: black;

}


body {
    background-image: url("../assets/background.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height:100rem;
      z-index: 100000;
  }


