<body>

<nav class="navbar navbar-expand-md" style="background-color: #FCDC0C;"  >
  <div class="container" >
      <div class ="div1">
        <img style="width: 77%;" src="../assets/Logo.jpeg">
      </div>
  <ul class="nav" id="nav">
      
    <li><a class="nav-link" routerLink="/home"
      routerLinkActive="active">Home</a></li>
      <li><a class="nav-link" routerLink="/explore"
        routerLinkActive="active">Explore</a></li>
        <li><a class="nav-link" routerLink="/rooms"
          routerLinkActive="active">Rooms</a></li>
          <li><a class="nav-link" routerLink="/contactus"
            routerLinkActive="active">Contact</a></li>
            <li><a class="nav-link" routerLink="/manageaccount"
              routerLinkActive="active">Manage Account</a></li>
              <li><a class="nav-link" routerLink="/login"
                routerLinkActive="active">Login</a></li>
  </ul>
  </div>
 </nav>
 <div class="container">
  <div class="row">
  <!-- routing here -->
  <router-outlet></router-outlet>
  </div>
 </div>

</body>


  

