<div class="div1">
    <P class="headertext">
    Contact Us
    </P>
    <P class="subheadertext" style="text-align: center;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </P>
        <hr>
        <P class="header2text">
            Have you any questions or concerns?
            <br><br>
            We're always here to help!
            </P>
            <P class="subheader2text">
                <b>Call us at</b>
                <br>
                123-456-789
                <br>
                or send us an email to:
                <br>
                info@DelonixRegia.com
                </P>

                <p class ="header3text">
                  Please Rate Our Overall Cleanliness
                  <br>
                  Standards
                </p>
                
                <div class="text">
                    <input type="text" style ="width: 320px; height: 40px;" placeholder="Subject"> 
            </div>
  
            <div class="star1"> 
                <img style=" width: 80%;"src="../../assets/star.jpeg" />
                </div>
                <div class="star2"> 
                    <img style=" width: 80%;"src="../../assets/star.jpeg" />
                    </div>
                    <div class="star3"> 
                        <img style=" width: 80%;"src="../../assets/star.jpeg" />
                        </div>
                        <div class="star4"> 
                            <img style=" width: 80%;"src="../../assets/star.jpeg" />
                            </div>
                            <div class="star5"> 
                                <img style=" width: 80%;"src="../../assets/star.jpeg" />
                                </div>

                                <div class ="textarea">
                                <textarea rows="5" cols="50" style="width: 76%" placeholder="Message">

                                </textarea>
                                  </div>



                                  <button >Submit</button>
 
  </div>