<div class="div1">
    <P class="headertext">
    Contact Us
    </P>
    <P class="subheadertext">
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM 
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
        LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM LOREM
        </P>
        <hr>
        <P class="header2text">
            Have you any questions or concerns?
            <br><br>
            We're always here to help!
            </P>
            <P class="subheader2text">
                <b>Call us at</b>
                <br>
                123-456-789
                <br>
                or send us an email to:
                <br>
                info@DelonixRegia.com
                </P>

                <p class ="header3text">
                  Please Rate Our Overall Cleanliness
                  <br>
                  Standards
                </p>
                
                <div class="text">
                    <input type="text" style ="width: 320px; height: 40px;" placeholder="Subject"> 
            </div>
  
            <div class="star1"> 
                <img style=" width: 5%;"src="https://cdn.onlinewebfonts.com/svg/img_287015.png" />
                </div>
                <div class="star2"> 
                    <img style=" width: 5.5%;"src="https://cdn.onlinewebfonts.com/svg/img_287015.png" />
                    </div>
                    <div class="star3"> 
                        <img style=" width: 6%;"src="https://cdn.onlinewebfonts.com/svg/img_287015.png" />
                        </div>
                        <div class="star4"> 
                            <img style=" width: 6.5%;"src="https://cdn.onlinewebfonts.com/svg/img_287015.png" />
                            </div>
                            <div class="star5"> 
                                <img style=" width: 7%;"src="https://cdn.onlinewebfonts.com/svg/img_287015.png" />
                                </div>

                                <div class ="textarea">
                                <textarea rows="5" cols="50" style="width: 76%" placeholder="Message">

                                </textarea>
                                  </div>



                                  <button >Search</button>
 
  </div>